*{
    margin: 0;
    padding: 0;
}
body{
    height: 98vh;
    width: 99vw;
    position: relative;
    border: 7px dashed red;
    overflow: hidden;
}
.SnakeContainer{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.SnakeHead{
    width: 15px;
    height: 15px;
    padding: 0;
    background-color: green;
    border: 1px solid;
    z-index: 2;
}

.SnakeFood , .SnakeTail{
    width: 15px;
    height: 15px;
    background-color: red;
    border: 1px solid;
    border-radius: 50%;
    z-index: 2;
    position: relative;
}

.SnakeTail::after{
    content: "";
    width: 4px;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: -4px;
    top: 6.5px;
}
.SnakeFood{
    position: absolute;
    z-index: 0;

}
#gameOverContainer{
    width: 100vw;
    height: 98vh;
    position: absolute;
    z-index: 9999;
    background-color: #a5949480;
}

